<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomOrders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ShipStationAPIAddress" value="https://ssapi.shipstation.com/" />
		<add key="ShipStationAPIKey" value="A5b923e6b7f14c1581d6e99c7a0826a5" />
		<add key="ShipStationAPISecret" value="c07fac5948eb420ab55bdbac97880f18" />
    <add key="Amazon" value="133331"  />
	</appSettings>
 <userSettings>
  <CustomOrders.Properties.Settings>
   <setting name="outputFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="configFolder" serializeAs="String">
    <value />
   </setting>
  </CustomOrders.Properties.Settings>
 </userSettings>
</configuration>