<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ShipStationAPIAddress" value="https://ssapi.shipstation.com/" />
		<add key="ShipStationAPIKey" value="A5b923e6b7f14c1581d6e99c7a0826a5" />
		<add key="ShipStationAPISecret" value="c07fac5948eb420ab55bdbac97880f18" />
    <add key="Amazon" value ="133331" />
	</appSettings>
</configuration>